.transaction {
  padding: 1rem;
}

.transaction-item {
  padding: 0.5rem !important;
}

.transaction-register-button {
  margin: 0.5rem !important;
}

#transaction-persist-form-control {
  margin: 0;
}
